<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/OS-X-NullEthernet</string>
	<key>CFBundleGetInfoString</key>
	<string>$MODULE_VERSION, Copyright © 2014 RehabMan. All rights reserved.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>${MODULE_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>$MODULE_VERSION</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$MODULE_VERSION</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>NullEthernetInjector</key>
		<dict>
			<key>RM,Version</key>
			<string>${PRODUCT_NAME} ${MODULE_VERSION}</string>
			<key>RM,Build</key>
			<string>${CONFIGURATION}-${LOGNAME}</string>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.NullEthernet</string>
			<key>IOClass</key>
			<string>org_rehabman_NullEthernet</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOPCIMatch</key>
			<string>0x816810ec</string>
			<key>MAC-address</key>
			<data>EjRWeKvN</data>
			<key>Vendor</key>
			<string>RehabMan</string>
			<key>Model</key>
			<string>NullEthernet</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 RehabMan. All rights reserved.</string>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
